[submodule "contiki"]
	path = contiki
	url = git@github.com:ludovicm67/contiki.git
[submodule "openlab"]
	path = openlab
	url = https://github.com/iot-lab/openlab.git
[submodule "firmwares/nullrdc/contiki"]
	path = firmwares/nullrdc/contiki
	url = git@github.com:ludovicm67/contiki.git
	branch = master
[submodule "firmwares/tsch/contiki"]
	path = firmwares/tsch/contiki
	url = git@github.com:ludovicm67/contiki.git
	branch = contiki-tsch
[submodule "firmwares/contiki-mac/contiki"]
	path = firmwares/contiki-mac/contiki
	url = git@github.com:ludovicm67/contiki.git
	branch = contiki-mac
[submodule "firmwares/contiki-mac-full/contiki"]
	path = firmwares/contiki-mac-full/contiki
	url = git@github.com:ludovicm67/contiki.git
	branch = contiki-mac-full
[submodule "firmwares/nullrdc-full/contiki"]
	path = firmwares/nullrdc-full/contiki
	url = git@github.com:ludovicm67/contiki.git
	branch = nullrdc-full
[submodule "firmwares/tsch-full/contiki"]
	path = firmwares/tsch-full/contiki
	url = git@github.com:ludovicm67/contiki.git
	branch = tsch-full
